body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html {
  overflow: hidden;
}

.right i {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down i {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
